[Unit]
Description=FastAPI Blog Backend Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=back
Environment=PATH=.venv/bin
ExecStart=.venv/bin/python -m gunicorn -c gunicorn_conf.py main:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
