[Unit]
Description=FastAPI Blog Backend Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/www/back
Environment=PATH=/www/back/.venv/bin
ExecStart=/www/back/.venv/bin/python -m gunicorn -c /www/back/gunicorn_conf.py main:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
